.AdmCard{
    display: flex; 
    width: 200px;
    margin:  auto;
    padding: 10px;
    border: 1px solid #4e0564;
    border-radius: 5px;
    background-color: #cb83e0;
    border-radius: 3px;
    margin-bottom: 8px;
}


